* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  font-family:  monospace;
}
#heading
{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;


}
.container {
  position: absolute;
  width: 5vw;
  height: 60vh;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#box {
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  transform-style: preserve-3d;
  
  
}

.card {
  width: 250px;
  height: 250px;
  color: white;
  background: rgb(0, 0, 0);
  box-sizing: border-box;
  font-size: 30px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#front {
  transform: translateZ(125px);
  color: black;
}

#back {
  transform: translateZ(-125px);
  color: black;
}

#left {
  right: 125px;
  transform: rotateY(-90deg);
}
#right {
  left: 125px;
  transform: rotateY(90deg);
}
#top {
  bottom: 125px;
  transform: rotateX(90deg);
  color: black;
}
#bottom {
  top: 125px;
  transform: rotateX(-90deg);
}
#buttons {
  width: 100%;
  background-color: rgb(7, 139, 255);
  display: flex;
  justify-content: center;
}
.btn {
  width: 10%;
  height: 10%;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
#up-btn {
  bottom: 450px;
}
#left-btn {
  right: 500px;
}
#right-btn {
  left: 500px;
}
#down-btn {
  top: 480px;
}
.card span {
  border: 3px solid rgb(10, 10, 10);
  border-radius: 12%;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 24px; 
}
#front span {
  background-color: white;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#back span {
  background-color: rgb(255, 255, 0);
}
#right span {
  background-color: rgb(241, 16, 16);
}
#left span {
  background-color: rgb(249, 157, 0);
}
#top span {
  background-color: rgb(0, 255, 0);
}
#bottom span {
  background-color: rgb(22, 57, 255);
}
